:root {
  --hlavni-barva: #f03000;
}
header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.title {
  margin-right: 1rem;
  font-size: xxx-large;
  font-weight: 800;
  color: var(--hlavni-barva);
  font-variant: all-small-caps;
}
.title__link {
  font-size: medium;
  margin-left: 1rem;
  padding: 1rem;
  border: none;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}
.title__link--white {
  color: var(--hlavni-barva);
  background-color: white;
  font-weight: 700;
}
.title__link--orange {
  background-color: var(--hlavni-barva);
  color: white;
}
