:root {
  --hlavni-barva: #f03000;
  font-family: 'Montserrat', sans-serif;
}
body {
  margin-left: 5rem;
  margin-right: 5rem;
}
footer {
  height: 50px;
  background-color: grey;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
